header{
    position: fixed;
    height: 100px;
    width: 100%;
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
}
nav{
    margin-top: 30px;
    padding: 0;
    width: 100%;

}
nav ul li{
    display: inline;
    text-decoration: none;
    padding: 14px;
    list-style: none;
}
.green{
     background-color: rgb(81,126,85);
}
/*Styling for the links*/
nav ul li a{
    text-decoration: none;
    font-size: 18px;
    color: white;
}
nav ul li a:hover{
    border-bottom: 1px color white;
}
nav ul li a:active{
    border-bottom: 1px color yellow;
}
nav ul li a:visited{
    border-bottom: 1px color red;
}
